{#% for picture in property.pictures %}
<div class="col" style="width:100 px; flex: none; margin: 5px">
	<img src="{{vich_uploader_asset(picture,'imageFile') | imagine_filter('thumb') }} " width="100" alt="">

	<form method="post" action="{{ path('admin_picture_delete', {'id': picture.id}) }}" style=" display: inline-block"
		onsubmit="return confirm('Etes-vous vraiùent sûr?');">
		<input type="hidden" name="_method" value="DELETE">
		<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ picture.id) }}">
		<button class="btn btn-danger">Supprimer</button>
	</form>

</div>
{% endfor %#}


{{ form_start(form) }}
<div class="row">
	<div class="col-md-8">
		<div class="row">
			<div class="col-md-4">{{ form_row(form.title) }}</div>
			<div class="col-md-4">{{ form_row(form.surface) }}</div>
			<div class="col-md-4">{{ form_row(form.price) }}</div>
		</div>
	</div>
	<div class="md-col-4">
		<div class="row-flex justify-content-start flex-wrap">

			{% if property.pictures is defined and property.pictures is not empty %}
				{% for picture in property.pictures %}
					<div class="col" style="width:100 px; flex: none; margin: 5px">
						{% if picture.filename %}
							<img src="{{ vich_uploader_asset(picture, 'imageFile') }}" width="100" alt="" style="max-width: 100px; height: auto;">
						{% endif %}
						<form method="post" action="{{ path('admin_picture_delete', {'id': picture.id}) }}" style="display: inline-block;" onsubmit="return confirm('Êtes-vous vraiment sûr ?');">
							<input type="hidden" name="_method" value="DELETE">
							<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ picture.id) }}">
							<button type="submit" class="btn btn-danger">Supprimer</button>
						</form>
					</div>
				{% endfor %}
			{% endif %}

		</div>

	</div>
</div>

<div class="row">
	<div class="col-md-2">{{ form_row(form.rooms) }}</div>
	<div class="col-md-2">{{ form_row(form.bedrooms) }}</div>
	<div class="col-md-2">{{ form_row(form.heat) }}</div>
	<div class="col-md-2">{{ form_row(form.floor) }}</div>
</div>
<div class="row">
	<div class="col-md-10">{{ form_row(form.pictureFiles) }}</div>
	<div class="col-md-2">{{ form_row(form.sold) }}</div>
</div>
<div class="row">
	<div class="col-md-9">{{ form_row(form.address) }}</div>
	<div class="col-md-2">{{ form_row(form.city) }}</div>
	<div class="col-md-1">{{ form_row(form.no) }}</div>
</div>


{{ form_rest(form) }}

<button class="btn btn-primary">{{button|default ('Enregistrer')}}</button>

{{ form_end(form) }}